body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
    font-size: 14px;
    line-height: 1.4em;
    padding: 0;
    margin: 0;
}

#container {
    width: 800px;
    margin: 20px auto;
}

h1 {
    font-size: 200%;
    margin: 0 0 15px 0;
}

h2 {
    font-size: 160%;
    margin: 0 0 10px 0;
}

p {
    margin: 0 0 10px;
}

form, form > * {
    margin: 0;
}

#status {
    color: #999;
}

#map-container {
    height: 550px;
    text-align: center;
    position: relative;
    margin: 20px 0;
}

#map {
    display: block;
    position: absolute;
    background: #fff;
    width: 100%;
    height: 100%;
    margin: 0;
}

path.durhamtr {
    stroke: #666;
    stroke-width: 1.0;
}

path.durhamtr:hover {
    stroke: #000;
    fill: steelblue;
}
.path {
  fill: none;
  stroke: brown;
  stroke-width: 0.5px;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.muniboundary {
  stroke: gray;
  fill: lightgray;
}
.cntyboundary {
  stroke: gray;
  fill: none;
}
.roads {
  fill: none;
  stroke: white;
  stroke-linejoin: round;
  stroke-linecap: round;
}
.major_road {
  fill: none;
  stroke: #fb7b7a;
  stroke-width: 1px;
  stroke-linejoin: round;
  stroke-linecap: round;
}
.minor_road {
  fill: none;
  stroke: #999;
  stroke-width: 0.5px;
  stroke-linejoin: round;
  stroke-linecap: round;
}
.highway {
  fill: none;
  stroke: blue;
  stroke-width: 1.5px;
  stroke-linejoin: round;
  stroke-linecap: round;
}
.rail {
  fill: none;
  stroke: #503D3F;
  stroke-width: 0.5px;
  stroke-linejoin: round;
  stroke-linecap: round;
}

form {
    font-size: 120%;
}

select {
    font-size: inherit;
}

#placeholder {
    position: absolute;
    z-index: -1;
    display: block;
    left: 0;
    top: 0;
}
  
